<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <div class="container">
        <h1 class="display-2 mb-4">Add a Pet</h1>
        <div class="row">
            <div class="col-6">
                <form method="post" class="">
                    {{form.hidden_tag()}}
                    {%for field in form %}
                    {%for error in field.errors%}
                    <small class="form-text text-danger">{{error}}</small>
                    {%endfor%}
                    {%endfor%}
                    <div class="mb-3">
                        {{form.name.label(class_='form-label')}}
                        {{form.name(class_='form-control')}}
                    </div>
                    <div class="mb-3">
                        {{form.species.label(class_='form-label')}}
                        {{form.species(class_='form-control')}}
                    </div>
                    <div class="mb-3">
                        {{form.photo_url.label(class_='form-label')}}
                        {{form.photo_url(class_='form-control')}}
                    </div>
                    <div class="mb-3">
                        {{form.age.label(class_='form-label')}}
                        {{form.age(class_='form-control age_input')}}
                    </div>
                    <div class="mb-3">
                        {{form.notes.label(class_='form-label')}}
                        {{form.notes(class_='form-control')}}
                    </div>
                    <button class="btn btn-success mb-3">Add Pet</button>
                </form>
                <a href="/" class="btn btn-outline-danger">Cancel</a>

            </div>

        </div>

    </div>

</body>

</html>